.fn-focusring
  position: relative
  &:before
    content: ''
    display: none
    position: absolute
    top:    nth($fn-focusring-geometry-final, 1)
    right:  nth($fn-focusring-geometry-final, 2)
    bottom: nth($fn-focusring-geometry-final, 3)
    left:   nth($fn-focusring-geometry-final, 4)
    border: $fn-focusring-border
    +border-radius($fn-focusring-border-radius)
    +animation-name($fn-focusring-animation-name)
    +animation-duration($fn-focusring-animation-duration)
    +animation-timing-function(ease-out)

  &:before, > .fn-focusring-target
    z-index: 1

  > .fn-focusring-target
    position: relative

  &.target-focused:before
    +inline-block

  // CSS4 :has selector: http://stackoverflow.com/questions/1014861/is-there-a-css-parent-selector
  // For unknown reasons doesn't work together with &.target-focused:before...
  // So this selector is extracted.
  &:has(> .fn-focusring-target:focus):before
    +inline-block

  &.target-focused > .fn-focusring-target, > .fn-focusring-target:focus
    @if $fn-focusring-border-color-opacity > 0.0
      border-color: transparentize($fn-focusring-border-color, 0.99) !important
    @else
      border-color: transparent !important

  +keyframes(fn-focusring-animation)
    0%
      top:    nth($fn-focusring-geometry-initial, 1)
      right:  nth($fn-focusring-geometry-initial, 2)
      bottom: nth($fn-focusring-geometry-initial, 3)
      left:   nth($fn-focusring-geometry-initial, 4)
      +opacity(0)
    100%
      top:    nth($fn-focusring-geometry-final, 1)
      right:  nth($fn-focusring-geometry-final, 2)
      bottom: nth($fn-focusring-geometry-final, 3)
      left:   nth($fn-focusring-geometry-final, 4)
      +opacity(1)