$fn-focusring-border-color:  transparentize(#3BAFDA, 0.4)         !default;
$fn-focusring-border-radius: 6px                                  !default;
$fn-focusring-border:        3px solid $fn-focusring-border-color !default;

$fn-focusring-animation-name:            fn-focusring-animation !default;
$fn-focusring-animation-duration:        0.15s                  !default;
$fn-focusring-animation-timing-function: ease-out               !default;


$fn-focusring-geometry-initial:   -14px -14px -14px -14px !default;
$fn-focusring-geometry-final:     -2px -2px -2px -2px     !default;

$fn-focusring-css4: false !default;

$fn-focusring-transparentize-border: false !default;
